@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  max-width: 1440px;
  margin: 100px auto;
  background-color: #0d1323;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.container {
  display: grid;
  margin: 100px;
  gap: 40px;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: 220px;
  grid-template-areas: "a b c d" "a e f g ";
}
.image__icon {
  height: 40px;
  text-align: end;

  padding-top: -2px;
}

.card {
  background: steelblue;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}

.div-one {
  grid-area: a;
  background-color: #1d204b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.div-two {
  background: url('images/icon-work.svg')no-repeat right top ;
  grid-area: b;
}
.div-three {
  background: url('images/icon-play.svg')no-repeat right top ;
  grid-area: c;
}
.div-four {
  background: url('images/icon-study.svg')no-repeat right top ;
  grid-area: d;
}
.div-five {
  background: url('./images/icon-exercise.svg')no-repeat right top ;
  grid-area: e;
}
.div-six {
  background: url('./images/icon-social.svg')no-repeat right top ;
  grid-area: f;
}
.div-seven {
  background: url('./images/icon-self-care.svg')no-repeat right top ;
  grid-area: g;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.heading {
  font-size: 26px;
  font-weight: 100;
  margin-bottom: 10px;
}
.sub-heading {
  font-size: 16px;
  letter-spacing: 1.5;
  margin-bottom: 10px;
}
.text {
  font-size: 14px;
  letter-spacing: 1.4;
}
.jeremy {
  background-color: #5747eb;
  color: white;
}
.header {
  display: flex;
  margin-bottom: 20px;
  gap: 90px;
}
.display-flex {
  margin-top: 10px;
}
.opacity-text {
  opacity: 50%;
}
.text {
  opacity: 50%;
}
.icon-styles {
  height: 31px;
  border-radius: 10px 10px 0 0;
  display: flex;
  margin-bottom: -30px;
}
.svg-icon {
  margin-left: 70px;
  padding-top: 20px;
}
/* icon svg background colors */
.todo-cards {
  background-color: #1d204b;
}
.work {
  background-color: rgba(255, 166, 0, 0.787);
}
.play {
  background-color: rgba(44, 209, 242, 0.787);
}
.study {
  background-color: rgba(236, 103, 154, 0.787);
}
.exercise {
  background-color: rgba(90, 221, 118, 0.787);
}
.social {
  background-color: rgba(198, 70, 230, 0.787);
}
.self-care {
  background-color: rgba(234, 200, 47, 0.787);
}
.weekly {
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
}

/* media queries */

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 15px;
    /* margin: 30px; */
  }
  .jeremy {
    gap: 2rem;
  }
  .work-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
  }
  .heading {
    font-size: 18px;
  }
  .sub-heading {
    margin-bottom: 1px;
    font-size: 16px;
  }
  .header {
    gap: 155px;
  }
  .display-flex {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
